firedux(
object-ref="{{$ctrl.ref}}"
on-data="card=$data")
firedux(
array-ref="{{$ctrl.ref}}/subcards"
on-data="subcards=$data")

wc-settings(icon="more_vert")
  wc-settings-option(
  icon="add"
  text="Add Card"
  on-click="subcards.$addLast()")
  wc-settings-divider
  wc-settings-option(
  ng-if="!$first"
  icon="keyboard_arrow_up"
  text="Move Up"
  on-click="$ctrl.onMoveUp()")
  wc-settings-option(
  ng-if="!$last"
  icon="keyboard_arrow_down"
  text="Move Down"
  on-click="$ctrl.onMoveDown()")
  wc-settings-divider
  wc-settings-option(
  ng-if="!card.hideSlide"
  icon="visibility_off"
  text="Show cards only"
  on-click="card.hideSlide=true;card.$save()")
  wc-settings-option(
  ng-if="card.hideSlide"
  icon="visibility"
  text="Show cards and slide"
  on-click="card.hideSlide=null;card.$save()")
  wc-settings-divider
  wc-settings-option(
  icon="delete"
  text="Remove Slide"
  on-click="card.$remove()")

.card-wrapper(
layout="column"
layout-align="center center")
  .card-background(
  ng-class="card.$id")
  style
    |.{{card.$id}} {background-attachment: fixed; {{$ctrl.getGradient(card.media.palette, $ctrl.isEven)}} }  
  div(
  ng-init="$ctrl.onReady()"
  ng-if="card.hideSlide")
  div.card-container(
  ng-if="!card.hideSlide"
  layout="row"
  layout-align="space-between center"
  layout-wrap)
    
    div.no-spacing-bottom(
    flex="100"
    flex-gt-xs="50"
    flex-order-gt-xs="{{$ctrl.isEven ? 1 : 3}}"
    layout-margin)
      
      wc-media.card-image(
      data="card.media"
      dimensions="{width:600}"
      on-update="card.media=$data;card.$save()"
      on-ready="$ctrl.onReady()")
    
    div.no-spacing-top(
    flex="100"
    flex-gt-xs="45"
    flex-order-gt-xs="2"
    layout-margin)
      
      wc-text.card-subtitle(
      data="card.subtitle"
      placeholder="Subtitle"
      on-update="card.subtitle=$data;card.$save()")
      
      wc-text.card-title(
      data="card.title"
      placeholder="Title"
      on-update="card.title=$data;card.$save()")
      
      .separator
      
      wc-text.card-text(
      data="card.text"
      is-rich="true"
      placeholder="Description"
      on-update="card.text=$data;card.$save()")
      
  .card-container(
  layout="row"
  layout-align="center start"
  layout-wrap)
    
    .subcard(
    flex-gt-sm="33"
    flex-sm="50"
    flex-xs="100"
    ng-repeat="subcard in subcards")
      wc-settings(
      align="left"
      icon="more_vert")
        wc-settings-option(
        ng-if="!$first"
        icon="keyboard_arrow_up"
        text="Move Up"
        on-click="subcards.$moveUp($index)")
        wc-settings-option(
        ng-if="!$last"
        icon="keyboard_arrow_down"
        text="Move Down"
        on-click="subcards.$moveDown($index)")
        wc-settings-divider
        wc-settings-option(
        icon="delete"
        text="Remove Card"
        on-click="subcards.$remove(subcard)")
      .subcard-wrapper(
      ng-style="{background: card.media.palette[0]}"
      md-whiteframe="1")
        wc-media(
        data="subcard.media"
        on-update="subcard.media=$data;subcards.$save($index)"
        dimensions="{width: 600}"
        is-background="true"
        style="height: 200px; width: 100%")
        wc-text.subcard-title(
        data="subcard.title"
        placeholder="Title"
        on-update="subcard.title=$data;subcards.$save(subcard)")
        wc-text.subcard-description(
        data="subcard.description"
        placeholder="Start writing here..."
        on-update="subcard.description=$data;subcards.$save(subcard)")