edit-toolbar(
ng-if="$ctrl.authData"
ng-class="{bottom:$ctrl.isBackground}")
  md-menu.toolbar-menu(
  md-position-mode="target-right target")
    md-button.md-icon-button.toolbar-button(
    ng-click="$mdOpenMenu(ev)")
      md-icon(md-menu-origin)|photo
    md-menu-content(width="3")
      md-menu-item
        md-button
          input.hidden-input(
          type="file"
          ngf-select="$ctrl.update($file)"
          ngf-multiple="false"
          accept="image/*"
          ngf-resize="$ctrl.dimensions")
          span(flex)|Update
          md-icon.menu-right(md-menu-align-target)
              |photo
      md-menu-item
        md-button(
        ng-click="$ctrl.delete()")
          span(flex)|Delete
          md-icon.menu-right(md-menu-align-target)
              |delete
.img-wrapper(
ng-if="$ctrl.isBackground && ($ctrl.authData || $ctrl.data.fileUrl)"
ng-style="{backgroundImage: 'url('+$ctrl.data.fileUrl || 'https://www.rit.edu/science/sites/rit.edu.science/files/root/man-placeholder_27.jpg'+')'}")
img(
ng-if="!$ctrl.isBackground && ($ctrl.authData || $ctrl.data.fileUrl)"
ng-click="$ctrl.onClick()"
ng-src="{{$ctrl.data.fileUrl || 'https://www.rit.edu/science/sites/rit.edu.science/files/root/man-placeholder_27.jpg'}}")
