firedux(
object-ref="{{$ctrl.ref}}"
on-data="subtitle=$data")

.subtitle-wrapper(
ng-if="subtitle.subtitle"
layout="column"
layout-align="center center")
  
  wc-text.subtitle(
  data="subtitle.subtitle"
  placeholder="Subtitle"
  on-update="subtitle.subtitle=$data;subtitle.$save()")